<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>Expressions Example</h3>
<xmp>
<div ng-app="" ng-init="myCol='lightblue'">
	<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}"> 
</div>
</XMP>
<div ng-app="" ng-init="myCol='lightblue'">
	<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}"> 
</div>
예제 설명 :<br>

<br>
<a href="3.expressionsExample.html">이전</a>
<a href="3.expressionsExample3.html">다음</a>
</body>
</html>