<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>Repeating HTML Elements</h3>
<XMP>
<div ng-app="" ng-init="names=['Jani', 'Hehe', 'Kai']">
	<ul>
		<li ng-repeat="x in names">
			{{ x }}
		</li>
	</ul>
</div>
</XMP>
<div ng-app="" ng-init="names=['Jani', 'Hehe', 'Kai']">
	<ul>
		<li ng-repeat="x in names">
			{{ x }}
		</li>
	</ul>
</div>
예제 설명 : <br>
ng-repeat directive는 실제로 컬렉션의 각 항목에 대해 한 번 HTML 요소를 복제합니다 . array 오브젝트에 사용 가능
<br>
<a href="5.directivesExample2.html">이전</a>
<a href="5.directivesExample4.html">다음</a>
</body>
</html> 