<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>CSS Classes</h3>
<XMP>
<style>
input.ng-invalid {
	background-color : lightblue;
}
</style>
<form ng-app="" name="myForm">
	Enter your name :
	<input name="myName" ng-model="myText" required>
</form>
</XMP>
<style>
input.ng-invalid {
	background-color : lightblue;
}
</style>
<form ng-app="" name="myForm">
	Enter your name :
	<input name="myName" ng-model="myText" required>
</form>
예제 설명 :<br>
ng-model directive는 html 엘리먼트에 상태에 따라 css 클래스를 제공한다.
<br>
<a href="6.ModelExample4.html">이전</a>
<a href="../w3schools2/7.dataBinding.html">다음</a>
</body>
</html> 