<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>AngularJS Extends HTML</h3>
<xmp>
<div ng-app="">
 	<p>Name: <input type="text" ng-model="name"></p>
 	<p ng-bind="name"></p>
</div>
</xmp>
<div ng-app="">
 	<p>Name: <input type="text" ng-model="name"></p>
 	<p ng-bind="name"></p>
</div>

예제 설명 :<br>
웹페이지가 로드되면, 앙귤라가 자동으로 시작됩니다.<br>
ng-app - div 태그 는 알귤라 앱으로 지정합니다.<br>
ng-model - input 필드에서 name 키의  값을 바인딩 합니다.<br>
ng-bind - name 키에 값을 innerHTML(html에 보여주다.), p태그에 바인딩합니다.
<br>
<a href="2.intro.html">이전</a>
<a href="2.introExample2.html">다음</a>
</body>
</html>