<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>AngularJS Expressions</h3>
<xmp>
<div ng-app="myApp" ng-controller="myCtrl">
	First Name : <input type="text" ng-model="firstName"><br>
	Last Name : <input type="text" ng-model="lastName"><br>
	<br>
	Full Name : {{firstName + lastName}}
</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.firstName = "John";
	$scope.lastName = "Doe";
});
</script>
</XMP>
<div ng-app="myApp" ng-controller="myCtrl">
	First Name : <input type="text" ng-model="firstName"><br>
	Last Name : <input type="text" ng-model="lastName"><br>
	<br>
	Full Name : {{firstName + lastName}}
</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.firstName = "John";
	$scope.lastName = "Doe";
});
</script>
예제 설명 :<br>
var app = angular.module('myApp', []);<br>
앙귤라 모듈 정의<br>

app.controller('myCtrl', function($scope) {<br>
    $scope.firstName= "John";<br>
    $scope.lastName= "Doe";<br>
});<br>
앙귤라 컨트롤러로 앱을 컨트롤합니다.<br>

<br>
<a href="2.introExample5.html">이전</a>
<a href="3.expressions.html">다음</a>
</body>
</html>