<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>The ng-model Directive</h3>
<XMP>
<div ng-app="myApp" ng-controller="myCtrl">
	Name : <input ng-model="name">
</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.name = "Jone Doe";
});

</script>
</XMP>
<div ng-app="myApp" ng-controller="myCtrl">
	Name : <input ng-model="name">
</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.name = "Jone Doe";
});

</script>
예제 설명 :<br>
ng-model directive는 앙귤라에서 input fielld의 값을 생성성한다.
<br>
<a href="6.Model.html">이전</a>
<a href="6.ModelExample2.html">다음</a>
</body>
</html> 