<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>Application Status</h3>
<XMP>
<form ng-app="" name="myForm">
	Email:
	<input type="email" name="myAddress" ng-model="text">
	<span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
</form>
</XMP>
<form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
	Email :
	<input type="email" name="myAddress" ng-model="myText" required>
	<h1>Status</h1>
	{{ myForm.myAddress.$valid}}<br>
	{{ myForm.myAddress.$dirty}}<br>
	{{ myForm.myAddress.$touched}}<br>
</form>
예제 설명 :<br>
ng-model directive는 어플리케이션 데이터(invalid, dirty, touched, error)의 상태를 제공해준다.
<br>
<a href="6.ModelExample3.html">이전</a>
<a href="6.ModelExample5.html">다음</a>
</body>
</html> 