<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>AngularJS Controller</h3>
<xmp>
	<div ng-app="myApp" ng-controller="myCtrl">
		<h1 ng-click="changeName()">{{firstName}}</h1>
	</div>
	<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.firstName = "John";
		$scope.changeName = function(){
			$scope.firstName = "Nelly";
		}
	});
	</script>
</xmp>
<div ng-app="myApp" ng-controller="myCtrl">
	<h1 ng-click="changeName()">{{firstName}}</h1>
</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
	$scope.firstName = "John";
	$scope.changeName = function(){
		$scope.firstName = "Nelly";
	}
});
</script>
예제 설명 :<br>
앙귤라의 머플리케이션은 controllers에 의해 제어됩니다. <br>
모델과 뷰가 즉시 동기화 되기 때문에 컨트롤러를 뷰와 모델 데이터로 완전히 분리 할 수 있다.<br>
앙귤라의 데이터 바인딩 덕분에, 뷰에 컨트롤러가 다른 변경 사항을 반영할 것이다.
<br>
<a href="7.dataBindingExample4.html">이전</a>
<a href="8.controllers.html">다음</a>
</body>
</html> 