<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>Controllers In External Files</h3>
<xmp>
<div ng-app="myApp" ng-controller="personCtrl">
	First Name : <input type="text" ng-model="firstName"><br>
	Last Name : <input type="text" ng-model="lastName"><br>
	<br>
	Full Name : {{fullName()}}
</div>

<script src="controller/personController.js"></script>
	angular.module('myApp', []).controller('personCtrl', function($scope) {
    $scope.firstName = "John",
    $scope.lastName = "Doe",
    $scope.fullName = function() {
        return $scope.firstName + " " + $scope.lastName;
    }
});
</xmp>
<div ng-app="myApp" ng-controller="personCtrl">
	First Name : <input type="text" ng-model="firstName"><br>
	Last Name : <input type="text" ng-model="lastName"><br>
	<br>
	Full Name : {{fullName()}}
</div>
<script src="controller/personController.js"></script>
예제 설명 :<br>
큰 어플리케이션은 일반적으로 외부 파일을 만들어, 컨트롤러들을 저장한다.<br>


<br>
<a href="8.controllersExample2.html">이전</a>
<a href="8.controllersExample4.html">다음</a>
</body>
</html> 