<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>Know Your Scope</h3>
<xmp>
<div ng-app="myApp" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in names">{{x}}</li>
	</ul>
</div>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope){
		$scope.names = ["Emil", "Tobias", "Linus"];
	});
</script>
</xmp>
<div ng-app="myApp" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in names">{{x}}</li>
	</ul>
</div>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope){
		$scope.names = ["Emil", "Tobias", "Linus"];
	});
</script>
예제 설명 :<br>
언제든지, scope를 중요하게 취급해야 합니다.<br>
ng-repeat directive는 반복되는 객체를 흐름을 엑세스 한다.

<br>
<a href="9.scopeExample2.html">이전</a>
<a href="9.scopeExample4.html">다음</a>
</body>
</html> 