<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="../WEB-INF/lib/angular.min.js"></script> -->
</head>
<body>
<h1>AngularJS Example</h1>
<h3>Understanding the Scope</h3>
<xmp>
<div ng-app="myApp" ng-controller="myCtrl">
<input ng-model="name">

<h1>My name is {{name}}</h1>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.name = "Lee sun ku";
});
</script>
</xmp>
<div ng-app="myApp" ng-controller="myCtrl">
<input ng-model="name">

<h1>My name is {{name}}</h1>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.name = "Lee sun ku";
});
</script>

예제 설명 :<br>
앙귤라 어플리케이션의 중요한 : <br>
뷰는 html이다.<br>
모델은 현재 사용할 수 있는 데이터<br>
컨트롤러, 자바스크립트 함수 - 데이터를 만들고 변경하고 지우고 제어한다.<br>
스코프는 프로퍼티스와 메소드는 자바스크립트 객체이다 뷰와 .

<br>
<a href="9.scopeExample.html">이전</a>
<a href="9.scopeExample3.html">다음</a>
</body>
</html> 