<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css">

<script type="text/javascript">
angular.module('datepickerApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache']).controller('datepickerCtrl', function($scope) {
	$scope.dateRange = 7;
    $scope.endDate = new Date();
    
	$scope.startDate = new Date(
		$scope.endDate.getFullYear(),
		$scope.endDate.getMonth(),
		$scope.endDate.getDate()-$scope.dateRange
	);
	
    $scope.dateRangeChange = function(range){
    	$scope.dateRange = range;
    	
    	$scope.endDate = new Date();
    	$scope.startDate = new Date(
			$scope.endDate.getFullYear(),
			$scope.endDate.getMonth(),
			$scope.endDate.getDate()-$scope.dateRange
    	);
    };
});

</script>

</head>
<body>
<div ng-controller="datepickerCtrl" style="padding: 40px;" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="datepickerApp">
    <md-datepicker ng-model="startDate" md-placeholder="Enter date" md-max-date="endDate"></md-datepicker>
    <md-datepicker ng-model="endDate" md-placeholder="Enter date" md-min-date="startDate"></md-datepicker>
    <br> <br>
	<a href="#" ng-click="dateRangeChange('7')">최근 1주일</a> <br>
	<a href="#" ng-click="dateRangeChange('30')">최근 1개월</a> <br>
	<a href="#" ng-click="dateRangeChange('365')">최근 1년</a>
</div>
</body>
</html>